*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img{
    width:100%;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}

li,ul{
    list-style: none
}

.col-6{
    flex-basis: calc(100% / 2);
}

.col-12{
    flex-basis: calc(100%);

}

/* HEADER */

header{
    
    .col-12{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.nav-header{
    display: flex;
    justify-content: center;
    background-color: orange;
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo{
    width: 200px;
}


.container{
    width: 1300px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}

.col-4{
    flex-basis: calc(100% / 3);
    position: relative;
    padding: 0px 10px;
    margin-bottom: 50px;

    
}

.icon{
    display: flex;
    gap: 10px;
}

/* MAIN */



main{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
}

.container-main{
    margin-top: 100px;
}

.discount{
    position: absolute;
    bottom: 120px;
    background-color: red;
    padding: 5px 10px;
    color: white;
    font-weight: 700;
}

.free{
    position: absolute;
    left: 70px;
    bottom: 120px;
    background-color: green;
    color: white;
    font-weight: 700;
    padding: 5px 10px;
}

.heart{
    position: absolute;
    right: 10px;
    top: 40px;
    background-color: white;
    font-size: 50px;
    padding: 0px 10px;
}

.img-top {
    /* display: block; */
}

.img-back{
    position: absolute;
    left: 0px;
    opacity: 0;
    /* display: none; */
}


.col-4:hover .img-top{
    opacity: 0;
    position: absolute;
    /* display: none; */
}

.col-4:hover .img-back{
    opacity: 1;
    position: static;
    /* display: block; */
}

.outfit-name{
    font-size: 20px;
}

.outfit-price{
    color: red;
    font-weight: 700;
    display: inline;
}

.outfit-price_discount{
    text-decoration:line-through;
    display: inline;
}



/* FOOTER */



footer{
    display: flex;
    justify-content: center;
    background-color: gray;
    padding: 30px;
    margin-top: 100px;

    .col-12{
        display: flex;
        justify-content: space-between;
    }
}

.modal::after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
  }

.modal .card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}